<br>

<form class="form_project" action="https://docs.google.com/a/iohk.io/forms/d/1_cceHP1a4gxJ-yyzPi5JbZ3S1G_lW6aOUt_cdAAp2nQ/formResponse?embedded=true" method="POST" id="ss-form"  target="hidden_iframe" onsubmit="form_submit=true;">

    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(form_submit) {window.location='{{ '/thank-you/' | prepend: site.baseurl }}{% if page.language != 'en' %}{{ page.language }}/{% endif %}';}"></iframe>

    <input type="hidden" name="draftResponse" value="[,,&quot;-2454698966209542536&quot;]">
    <input type="hidden" name="pageHistory" value="0">
    <input type="hidden" name="fvv" value="0">
    <input type="hidden" name="fbzx" value="-2454698966209542536">


    <div class="row contact_form">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="none">{{ site.data.i18n[page.language].name }}</label>
                <input type="text" name="entry.1155327763" value="" placeholder="{{ site.data.i18n[page.language].name }}" size="" class="required form-control" aria-required="true" aria-invalid="false" />
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="none">{{ site.data.i18n[page.language].email }}</label>
                <input type="email" name="entry.1804371133" value="" placeholder="{{ site.data.i18n[page.language].email }}" size="" class="required form-control" aria-required="true" aria-invalid="false" />
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="none">{{ site.data.i18n[page.language].phone }}</label>
                <input type="text" name="entry.1847584835" value="" placeholder="{{ site.data.i18n[page.language].phone }}" size="" class="required form-control" aria-required="true" aria-invalid="false" />
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group">
                <label class="none">{{ site.data.i18n[page.language].subject }}</label>
                <input type="text" name="entry.1838650375" value="" placeholder="{{ site.data.i18n[page.language].subject }}" size="" class="required form-control" aria-required="true" aria-invalid="false" />
            </div>
        </div>
        <div class="col-sm-24">
            <div class="form-group">
                <label class="none">{{ site.data.i18n[page.language].message }}</label>
                <textarea name="entry.461665999" cols="40" rows="10" placeholder="{{ site.data.i18n[page.language].message }}" required="required" class="form-control required" aria-invalid="false"></textarea>
            </div>
        </div>

        <div class="col-sm-24 text-right">
            <input type="submit" class="btn btn-default" id="btn-submit" value="{{ site.data.i18n[page.language].submit }}" />
        </div>
    </div>

</form>


