	                        <div class="uppercase navbar text-right">
	                        	<ul class="subpages flat typenone pd0 fullwidth">
	                        		<li class="about"><a class="" href="{{ site.baseurl }}/about/{% if page.language != 'en' %}{{ page.language }}/{% endif %}">{{ site.data.i18n[page.language].about }}</a></li>
	                        		<li class="team"><a class="" href="{{ site.baseurl }}/team/{% if page.language != 'en' %}{{ page.language }}/{% endif %}">{{ site.data.i18n[page.language].team }}</a></li>
	                        		<li class="contact"><a class="" href="{{ site.baseurl }}/contact/{% if page.language != 'en' %}{{ page.language }}/{% endif %}">{{ site.data.i18n[page.language].contact }}</a></li>
	                        	</ul>
	                        </div>
