---
layout: job
---    
<!DOCTYPE html>
<html>

  {% include head.html %}

<body>

    {% include header.html %}

    <div id="middlerow" class="middlerow">
        <div class="container">
            <div class="row">
                <div class="col-lg-24 col-md-24 text-">
                    <div id="io_loader">
                        <div id="io_load">
                            <div class="row fader jobs_page">
                                <div class="col-lg-8 col-md-8 col-sm-10 sidecol uppercase">
                                    {% include nav-jobs.html %}
                                    <br>
                                </div>
                                <div class="maincol col-lg-16 col-md-16 col-sm-14">
                                    <div id="jobs_loader">
                                        <div id="jobs_load">

                                                                                
                                            <div class="jobpost">
                                                <div class="entry">
                                                    <div class="text">
                                                        <h1 class="margint0 uppercase">{{ page.title }}</h1>
                                                        <div id="jobs_response"></div>

                                                    	{{ content }}

                                                    	{% include form-job-reply.html %}

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}

  </body>

</html>
