---
layout: default
---       
<div id="middlerow" class="middlerow">
    <div class="container">
        <div class="row">
            <div class="col-lg-24 col-md-24">
               <div id="io_loader">
                   <div id="io_load">
                        <div class="title_block">

	                        <h1 class="">{{ page.title }}</h1>

	                    </div>

                        <div class=" fader">
                            <div class="post">
                                <div class="entry" title="{{ page.title }}">
                                    <div class="text">

                                        {{ content }}
                                        <br><br><br>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
